.services {
    background-color: #EAEAEAEA;
    position: relative;
    padding-top: 2vh;
  }
  
  .services > h2 {
    text-align: center;
    font-size: 30px;
    color: #00026A;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 92vh;
    gap: 16px; 
    align-items: center; 
    justify-items: center; 
    position: relative;
  }
  
  .container > img {
    width: 127px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .lastContainer {
    height: 56vh;
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1366px) {
    .container {
      gap: 0;
    }
  }
  