.services {
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.container > div {
    display: flex;
    align-items: flex-start;
}

.container img {
    margin-right: 16px; 
}

.container h2, .container p {
    margin: 0; 
}
