.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 541px;
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #C7C8D7;
    color: #00026A;
    position: relative;
    overflow: hidden;
}

.icon > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.icon h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.icon p {
    text-align: justify;
    margin: 0;
}

.star {
    width: 60px;
    position: absolute;
}
