.icon-wrapper {
    position: relative;
    width: 541px;
    height: 100px;
    overflow: visible;
  }
  
  .icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px;
    background-color: #C7C8D7;
    color: #00026A;
    position: relative;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: height 0.5s ease, transform 0.3s ease;
  }
  
  .icon > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .icon h2 {
    font-size: 26px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    white-space: nowrap;
    transition: transform .6s ease;
  }

  .icon:hover h2 {
    margin-top: -55px;
  }

  .icon h2.large-title {
    font-size: 20px;
    white-space: normal;
  }
  
  .icon p {
    text-align: justify;
    margin-left: 7%;
    margin-right: 7%;
    opacity: 0;
    transition: opacity 0.1s ease;
  }

  .icon p.short-description {
    margin-top: 20%;
    font-size: 18px;
  }

  .icon p.medium-description {
    font-size: 16px;
    margin-top: 14%;
  }

  .icon p.long-description {
    font-size: 15px;
    margin-top: 11.5%;
  }
  
  .star {
    width: 60px;
    position: absolute;
    top: -8%;
    transform: translate(-76%, 0);
    transition: transform 0.5s ease;
  }
  
  .icon:hover .star {
    transform: translate(-76%, 0) rotate(180deg);
  }
  
  .icon-wrapper:hover .icon {
    height: 200px;
  }
  
  .icon-wrapper:hover .icon p {
    opacity: 1;
    transition: opacity 0.7s ease;
  }
  
