.menu {
  /* border: 1px solid red; */
  display: flex;
  /* margin-top: 24px; */
  /* justify-content: space-between; */
  margin: 0 55px 0 55px;
}

.menu ul {
  width: 48rem;
  display: flex;
  /* margin-right: 50px; */
  cursor: pointer;
  align-items: center;
}

.menu li {
  margin-left: 20px;
  list-style: none;
  font-size: 18px;
  color: #fff;
}

@media (max-width: 428px) {
  .menu li {
    font-size: 15px;
  }
}

@media (max-width: 390px) {
  .menu li {
    font-size: 11px;
  }
}

@media (max-width: 360px) {
  .menu li {
    font-size: 13px;
  }
  .menu {
    margin: 0;
  }
}
